/* # Front Page
---------------------------------------------------------------------------------------------------- */
.home .section-1 h1 {
  font-size: 3.5rem;
  margin-bottom: 30px;
  margin-top: 30px;
}

.home .section-1 h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
}

.home .section-1 .button,
.footer-section .button {
  border-radius: 3px;
  margin-top: 30px;
  text-transform: uppercase;
}
.home .section-1 .button:hover,
.footer-section .button:hover {
  background: #333;
  color: #fff;
}

.form-block {
  background: #fff;
  border-radius: 3px 3px 0 0;
  color: #000;
  text-align: center;
}
.form-block .form-title {
  padding: 30px 30px 0;
  color: #000;
}
.form-block .form-title h3 {
  color: #000;
  font-size: 2rem;
}
.form-block .form-text {
  padding: 0 30px;
  font-size: 1.6rem;
  margin-bottom: -40px;
}

.home-services {
  display: block;
  background: #f2f2f2;
  position: relative;
  padding: 60px 0;
  text-align: center;
}
.home-services .wrap {
  max-width: 1080px;
  margin: 0 auto;
}
.home-services h2 {
  margin-bottom: 30px;
}

/* Parent container */
.service-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  gap: 40px;
}

/* Service boxes */
.home .service-box {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 30px;
}
.home .service-box img {
  margin-bottom: 10px;
}
.home .service-box p {
  margin-bottom: 0;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .service-grid {
    grid-template-columns: 1fr;
  }
}
.accordion {
  display: none;
}

.accordion.open {
  display: block;
  box-shadow: none;
}

.accordion-toggle {
  text-align: center;
  font-size: 35px;
  padding: 10px 10px;
  transition: all 0.3s ease-in-out;
  border: 3px solid #000f39;
  color: #fff;
}

.accordion-toggle:hover {
  color: #fff;
  cursor: pointer;
  transform: scale(1.2);
}

.home .faqs-section h2 {
  margin-bottom: 30px;
  color: #fff;
}
